/* 1rem = 1 rem = 16px */
/*********************/
/* BELOW 1344px*/
/*********************/

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    max-width: 120rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .header-primary {
    font-size: 4.4rem;
  }

  .header-secondary,
  .header-tertiary {
    font-size: var(--font-size-lg);
  }

  .header-tertiary {
    font-size: 2.4rem;
  }

  body {
    font-weight: 400;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*********************/
/* BELOW 1200px*/
/*********************/

@media (max-width: 75em) {
  .header {
    padding: 0 3.2rem;
  }

  .header-secondary,
  .header-tertiary {
    font-size: var(--font-size-lg);
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/*********************/
/* BELOW 944 px*/
/*********************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .logo {
    margin-top: 0;
  }

  .box-content {
    padding: 2.4rem 3.2rem 3.2rem;
  }
  .description {
    margin: 0.5rem;
  }

  #small {
    width: 100%;
  }

  .content {
    padding: 1.5rem;

    margin: 1.5rem;
  }
  #small-text {
    font-size: 1.5rem;
  }

  /* Mobile Nav */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: var(--color-tertiary);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .fa-bars {
    display: block;
  }

  .fa-x {
    display: none;
  }

  .hidden {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* Sidebar Nav */
  .aside {
    min-height: 6rem;
  }

  .btn-mobile-sidebar {
    display: block;
    position: absolute;
    top: 1rem;
    right: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
  }

  /* .icon-mobile-nav-side {
    font-size: 1rem;
    color: var(--color-primary);
  } */

  .sidebar {
    background-color: var(--color-primary-dark);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10rem 0;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 99999;
  }

  .sidebar-open .sidebar {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .side-nav {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .side-nav__link:link,
  .side-nav__link:visited {
    font-size: var(--font-size-md);
    color: var(--color-accent-white);
    text-decoration: none;
  }

  .fa-screwdriver-wrench {
    display: block;
  }

  .sidebar-open .fa-screwdriver-wrench {
    display: none;
  }

  .fa-xmark {
    display: none;
  }

  .sidebar-open .fa-xmark {
    display: block;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .header-secondary {
    margin-bottom: 4.8rem;
  }

  .logo {
    padding: 0rem;
    margin: 0;
    height: 5rem;
  }

  .widgeon-box {
    display: none;
  }

  .btn-mobile-sidebar {
    top: 1rem;
    right: 1.5rem;
  }

  .fa-xmark {
    display: block;
    position: absolute;
    top: -1rem;
    right: 0.2rem;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .grid {
    column-gap: 2rem;
    row-gap: 3rem;
  }

  .grid--2-cols,
  .grid--3-col,
  .grid--4-cols {
    grid-template-columns: 1fr !important;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
    margin-bottom: 2rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }

  .hero {
    padding: 0 3.2rem;
  }

  #difficultyFilter,
  #statusFilter {
    margin: 0.5rem;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: var(--border-soft);
    text-decoration: none;
  }

  .playbook-list-item {
    margin: 0;
    padding: 0;
  }

  .description {
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  .walkthrough-img {
    width: 100%;
  }

  .bio {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bio h1,
  .bio h2 {
    text-align: center;
    margin-top: 1rem;
  }
}
