body {
  background-color: var(--color-primary);
}

.content {
  flex: 1;
  background-color: var(--color-accent-white);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px var(--color-primary-dark);
  margin: 2rem;
}

.walkthrough-date {
  font-size: 1rem;
  color: var(--color-primary-dark);
  text-align: right;
}

.header-primary-walkthrough {
  font-size: 3.6rem;
  color: var(--color-primary-dark);
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 2.5rem;
}

.header-secondary-walkthrough {
  font-size: 2.5rem;
  color: var(--color-primary-dark);
  font-weight: 600;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.header-tertiary-walkthrough {
  font-size: 2rem;
  color: var(--color-primary-dark);
  margin-top: 1.5rem;
  font-weight: 600;
  position: relative;
  transition: 0.3s ease;
}
.header-tertiary-walkthrough a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-primary-dark);
  margin-top: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.header-tertiary-walkthrough a:hover {
  color: var(--color-primary);
}

.header-tertiary-walkthrough a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--color-primary);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.header-tertiary-walkthrough a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.description {
  font-size: 2rem;
  color: var(--color-primary);
  line-height: 1.7;
  margin: 1.5rem;
}

.description a {
  padding: 0;
  text-decoration: none;
  text-decoration: none;
  margin-top: 1.5rem;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
  color: var(--color-secondary);
}

.description a:hover {
  color: var(--color-primary);
}

.description a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--color-primary);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.description a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.walkthrough-copy {
  font-size: 1.6rem;
  color: var(--color-primary);
  line-height: 1.7;

  background-color: var(--color-secondary);
  color: var(--color-accent-white);
  border-left: 4px solid var(--color-primary);
  padding: 1.5rem;
  border-radius: 8px;
  /* display: flex; */

  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
}

.walkthrough-copy a {
  padding: 0;
  text-decoration: none;
  text-decoration: none;
  color: var(--color-accent-white);
  margin-top: 1.5rem;
  position: relative;
  transition: color 0.3s ease;
}

/* .walkthrough-copy a:hover {
  color: var(--color-primary);
} */

.walkthrough-copy a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--color-primary);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.walkthrough-copy a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.walkthrough-copy:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Strong Text */
strong {
  font-weight: 600;
  color: var(--color-primary-dark);
  font-size: 1.6rem;
}

.walkthrough-img {
  display: block;
  padding: 0.5rem;
  width: 100%;
  /* margin: 0 auto; */
}

#small {
  width: 50%;
  margin: 0 auto;
}

#medium {
  width: 65%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/*********************/
/* SIDEBAR ATTMPY*/
/*********************/
/* 
.content {
  flex: 2;
  max-width: 85%;
}

.sidebar {
  flex: 1;
  max-width: 25%;
  background-color: #f8f9fa;

  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  background-color: var(--color-accent-white);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px var(--color-primary-dark);
  margin: 2rem;
  margin-left: 0;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-list li {
  margin-bottom: 10px;
}

.sidebar-list a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.sidebar-list a:hover {
  text-decoration: underline;
} */

/*********************/
/* BELOW 944 px*/
/*********************/
@media (max-width: 59em) {
  .description {
    margin: 0.5rem;
  }

  #small,
  #medium {
    width: 100%;
  }

  .content {
    padding: 1.5rem;

    margin: 1.5rem;
  }
}
