body {
  background-color: var(--color-tertiary);

  line-height: 1.6;
}

.instructions {
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--color-accent-white);
}
.instructions ol li,
.instructions ul li {
  margin: 0.5rem 0;
  line-height: 1.8;
}

ol a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-primary-dark);
  margin-top: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

ol a:hover {
  color: var(--color-primary);
}

ol a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--color-primary);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

ol a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.box {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  /* border-radius: 12px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: var(--color-accent-white);
}

.box:hover {
  transform: translateY(-5px);
}

.ctf-image {
  width: 100%;
  object-fit: cover;
}

.ctf-content {
  padding: 0 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ctf-content h3 {
  margin-top: 0;
  color: var(--color-primary-light);
}

.ctf-content p {
  margin: 0.25rem 0;
  font-size: 1.4rem;
}

.ctf-links {
  /* margin-top: 1rem; */
  font-size: 1.4rem;
}

.ctf-links a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-primary-light);
  margin-top: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.ctf-links a:hover {
  color: var(--color-primary-dark);
}

.ctf-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--color-primary-dark);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.ctf-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.instructions ol {
  padding-left: 1.5rem;
}

.instructions code {
  background: var(--color-accent-grey);
  color: var(--color-primary);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.95em;
}

.expandable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.expandable.expanded {
  max-height: 1000px;
}

.btn-read-more {
  margin-top: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-accent-white);
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-read-more:hover {
  background-color: var(--color-primary-dark);
}

.header-primary {
  /* font-size: 3.2rem; */
  /* margin-bottom: 1rem;
   background-color: var(--color-secondary);*/
  color: var(--color-accent-white);
  /* padding-top: 2rem; */
  margin: 2rem;
}

.header-secondary {
  font-size: 2.4rem;
  margin: 0;
  color: var(--color-accent-white);
  /* background-color: var(--color-secondary); */
}
hr {
  color: var(--color-accent-white);
}

@media (max-width: 70em) {
  .container {
    padding: 1rem;
  }
}
